.App {
  text-align: center;
}

body, html {
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.bg-dwyl-teal {
  background-color: #4DB6AC;
}

.width-50 {
  width: 50vw;
}

.box {
  box-sizing: border-box;
}

.width-75 {
  width: 75vw;
}

.reverse-row {
  flex-direction: row-reverse;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
